{
  "extends": "airbnb",
  "plugins": [ "react", "mocha", "babel" ],
  "rules": {
    "comma-dangle": 0,
    "no-multi-spaces": [2, { exceptions: { "VariableDeclarator": true, "ImportDeclaration": true } }],
    "spaced-comment": [2, "always", { "markers": [":", "::"] }],
    "react/no-multi-comp": [0, { "ignoreStateless": true }],
    "react/jsx-equals-spacing": [2, "never"],
    "no-param-reassign": [2, { "props": false }],
    "space-before-function-paren": [2, "always"],
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/array-bracket-spacing": [2, "always"],
    "babel/object-curly-spacing": [2, "always"],
    "babel/no-await-in-loop": 1,
    "no-console": 1,
    "arrow-body-style": 0,
    "object-shorthand": 0,
    "prefer-const": 0,
    "no-shadow": 0,
    "padded-blocks": 0,
    "strict": 0,
    "array-bracket-spacing": [2, "always"],
    "react/sort-comp": [2, {
      order: [
        'static-methods',
        'constructor',
        'state',
        'render',
        'lifecycle',
        '/^on.+$/',
        'everything-else'
      ]
    }]
  },
  "parser": "babel-eslint"
}
